@charset "UTF-8";
body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Circe;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(./font/Circe/Circe-Bold.otf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
.container {
  /*	border: 1px solid;*/ }

.header {
  /*	border: 1px solid;*/
  width: 50%;
  padding: 0 0 34px 0;
  margin: 0px auto; }
  @media only screen and (max-width: 620px) {
    .header {
      width: 90%; } }

.header__logo {
  padding-bottom: 4px; }

.logo__img {
  display: block;
  margin: 0px auto;
  width: 45%; }
  @media only screen and (max-width: 620px) {
    .logo__img {
      width: 60%; } }

.logo__text {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18pt;
  line-height: 1;
  margin-top: -2px; }
  @media only screen and (max-width: 620px) {
    .logo__text {
      font-size: 15pt; } }

.logo__line {
  border: 1px solid;
  width: 98%;
  margin: 0px auto; }

.title__item {
  text-align: center;
  font-family: Circe;
  font-weight: 600;
  font-size: 18pt;
  margin-top: 30px; }

.title__item--mtop {
  margin-top: 40px; }
  @media only screen and (max-width: 620px) {
    .title__item--mtop {
      margin-top: 15px; } }

.title__item--up {
  text-transform: uppercase; }

.title__item--orange {
  color: #ff621f; }

.header__button {
  margin: 0px auto;
  width: 50%;
  border-bottom: 4px solid #ff332a;
  font-family: "PT Sans", sans-serif;
  font-size: 16pt;
  font-weight: 600;
  padding: 16px 0;
  line-height: 1; }
  @media only screen and (max-width: 620px) {
    .header__button {
      width: 80%;
      font-size: 15pt; } }

.header__button--orange {
  background: #ff621f; }

.button {
  color: white;
  text-align: center;
  cursor: pointer; }

.content {
  width: 50%;
  margin: 0px auto;
  /*	border: $border;*/ }
  @media only screen and (max-width: 620px) {
    .content {
      width: 90%; } }

.content__column {
  float: left;
  width: 50%; }
  @media only screen and (max-width: 620px) {
    .content__column {
      width: 100%; } }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.content__column--orange {
  background: #ff621f; }

.content__column--grey {
  background: #eaeaea; }

.date-wrapper {
  padding-top: 37px; }

.date__paper {
  float: left;
  width: 35%;
  padding: 0 5%;
  box-sizing: border-box; }

.date__full {
  float: left;
  width: 65%; }

.month {
  text-align: center;
  color: white;
  font-family: "PT Sans", sans-serif; }

.month--black {
  background: black; }

.number {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: #c2c2c2; }

.number--grey {
  background: #ffffff; }

.number--big {
  font-size: 32pt;
  font-weight: 600; }

.date__full {
  box-sizing: border-box;
  padding-right: 4%; }

.day {
  color: white;
  font-family: Circe;
  font-size: 14pt;
  line-height: 1.2; }

.day--border_bottom {
  border-bottom: 1px dashed; }

.time {
  padding-top: 10px;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 12pt; }

.day--up {
  text-transform: uppercase; }

.time--up {
  text-transform: uppercase; }

.person-wrapper {
  padding-top: 40px; }

.person__img-wrapper {
  text-align: center; }

.person__img {
  /*	width: 50%;*/
  /*	border: 1px solid;*/
  margin: 0px auto;
  background: url(./img/ivan1.png) no-repeat;
  height: 120px;
  width: 120px;
  background-size: auto 120px;
  background-position: center center; }

.person__img--round {
  border-radius: 50%;
  border: 5px solid white; }

.person__info {
  padding-top: 18px; }

.info__position {
  text-align: center;
  font-family: Georgia;
  font-style: italic;
  color: white;
  font-size: 13pt;
  font-weight: 100; }

.info__name {
  text-align: center;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 13pt;
  font-weight: 600;
  margin-top: 10px; }

.list {
  font-family: "PT Sans", sans-serif; }

.info__list {
  padding-left: 52px;
  padding-right: 15px;
  margin-top: 25px; }

.list--circle {
  list-style: round; }

.info__name--up {
  text-transform: uppercase; }

.list__item--white {
  color: white;
  font-size: 16px; }

.list__item--mtop {
  margin-top: 12px; }

.timer-wrapper {
  padding-top: 24px; }

.timer__title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 13pt; }

.timer__title--up {
  text-transform: uppercase; }

.timer__time {
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%; }

.timer__item {
  float: left;
  width: 25%;
  font-family: Circe;
  padding: 3px;
  box-sizing: border-box; }

.item__num {
  text-align: center;
  color: white;
  font-size: 30pt; }

.timer__item--mleft {
  margin-left: 6px; }

.timer__item--mright {
  margin-right: 6px; }

.item__num--round {
  background: #2b2e35;
  border-radius: 8px; }

.item__word {
  text-align: center;
  font-size: 10pt;
  padding-top: 10px; }

.item__word--up {
  text-transform: uppercase; }

.list-wrapper {
  padding-top: 20px; }

.list__title {
  font-family: "PT Sans", sans-serif;
  padding-right: 1%;
  padding-left: 1%; }
  @media only screen and (max-width: 620px) {
    .list__title {
      padding-left: 10%; } }

.list__title--up {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14pt; }

.list-veb {
  list-style-type: none;
  padding-left: 7%;
  padding-right: 4%;
  margin-top: 40px; }

.list-veb__item {
  font-size: 15pt; }
  @media only screen and (max-width: 620px) {
    .list-veb__item {
      font-size: 12pt; } }

.list-veb__item--mtop {
  margin-top: 25px; }

.list-veb__item--ok {
  background: url(./img/okl.png) left top no-repeat;
  background-size: auto 20px;
  padding-left: 28px; }

.after-info {
  padding-top: 38px;
  padding-bottom: 40px; }

.after-info__format {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  text-align: center; }
  @media only screen and (max-width: 620px) {
    .after-info__format {
      font-size: 14pt; } }

.after-info__button {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  color: white;
  font-family: "PT Sans", sans-serif; }
  @media only screen and (max-width: 620px) {
    .after-info__button {
      width: 70%; } }

.after-info__button--mtop {
  margin-top: 38px; }

.after-info__button--big {
  padding: 5px 0;
  font-weight: 600;
  font-size: 18pt; }

.after-info__button--orange {
  background: #ff621f; }

.after-info__text {
  font-family: "PT Sans", sans-serif;
  font-size: 15pt;
  text-align: center;
  padding: 0 10% 27px 10%; }

.after-info__text--borderbtm {
  border-bottom: 1px dashed black; }

.after-info__text--mtop {
  margin-top: 20px; }

.adv-text {
  background: #f8f8f8; }

.adv-text__text {
  width: 50%;
  margin: 0px auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 18pt;
  text-align: center;
  padding: 5px 0 5px 0; }
  @media only screen and (max-width: 620px) {
    .adv-text__text {
      width: 90%;
      font-size: 12pt; } }

.motivation {
  width: 50%;
  margin: 0px auto; }
  @media only screen and (max-width: 620px) {
    .motivation {
      width: 90%; } }

.motivation-wrapper {
  padding-bottom: 15px; }

.motivation__item {
  font-family: "PT Sans", sans-serif;
  margin-top: 30px; }

.collage {
  padding: 30px 0; }
  .collage__unit {
    width: 50%;
    margin: 0px auto;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    font-family: "PT Sans", sans-serif;
    line-height: 0; }
    @media only screen and (max-width: 620px) {
      .collage__unit {
        width: 90%; } }
    .collage__unit--border {
      border: 4px solid #ff621f; }
  .collage__item {
    width: 100% !important;
    height: auto !important; }
  .collage--grey {
    background: #efefef; }

.footer {
  width: 50%;
  margin: 0px auto; }
  .footer__text1 {
    font-family: "PT Sans", sans-serif;
    font-size: 14pt;
    margin-top: 15px; }
  .footer__text2 {
    font-family: "PT Sans", sans-serif;
    font-size: 12pt;
    font-weight: 600;
    margin-top: 50px; }
    @media only screen and (max-width: 620px) {
      .footer__text2 {
        margin-top: 20px; } }
  .footer__button {
    margin-top: 50px;
    color: white;
    font-family: "PT Sans", sans-serif;
    text-align: center; }
    @media only screen and (max-width: 620px) {
      .footer__button {
        margin-top: 20px; } }
    .footer__button--orange {
      background: #ff621f;
      border-bottom: 5px solid #ff332a; }
    .footer__button--big {
      font-size: 22pt;
      font-weight: 600;
      line-height: 1;
      padding: 15px 0; }
      @media only screen and (max-width: 620px) {
        .footer__button--big {
          font-size: 15pt; } }
  @media only screen and (max-width: 620px) {
    .footer {
      width: 90%; } }

.social__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 30px 0; }
  @media only screen and (max-width: 620px) {
    .social__list {
      margin: 30px 0 70px 0; } }
.social__item {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
